@model StarterM.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <form id="form1">
        @Html.EditorForModel()
    </form>
    <hr />
    <div>
        <input type="button" id="btnAll" value="List" />
        <input type="button" id="btnGet" value="Get" />
        <input type="button" id="btnInsert" value="Insert" />
        <input type="button" id="btnUpdate" value="Update" />
        <input type="button" id="btnDelete" value="Delete" />
    </div>
    <ul id="list"></ul>
    <div style="color:red;font-size:2em;" id="result"></div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        $(() => {
            async function getAll() {
                $("#list").empty();

                var response = await fetch("@Url.Content("~/api/customers")");
                var result = await response.json();
                // console.log(Array.isArray(result));
                result.forEach(item => {
                    $("#list").append(`<li>${item.customerID}: ${item.companyName}: ${item.country} </li>`);
                });
            }
            $("#btnAll").click(getAll);

            $("#btnDelete").click(() => {
                fetch(`@Url.Content("~/api/customers")/${$("#CustomerID").val()}`, {
                    method: "delete"
                })
                    .then(getAll);
            });

            $("#btnUpdate").click(() => {
                fetch(`@Url.Content("~/api/customers")/${$("#CustomerID").val()}`, {
                    method: "put",
                    headers: {
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    body: $("#form1").serialize()
                })
                    .then(getAll);
            });

            $("#btnInsert").click(()=>{
                fetch("@Url.Content("~/api/customers")",{
                    method:"post",
                    headers:{
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    body: $("#form1").serialize()
                })
                    .then(getAll);
            });
            $("#btnGet").click(()=>{
                if ($("#CustomerID").val()==""){
                    $("#CustomerID").select();
                    return;
                }

                fetch(`@Url.Content("~/api/customers")/${$("#CustomerID").val()}`)
                    .then(response=>response.json())
                    .then(item=>{
                        console.log(item);
                        if(item.status==404){
                            $("#result").text(`${item.status}: ${item.title}`)
                        }else{
                            $("#CompanyName").val(item.companyName);
                            $("#Country").val(item.country);
                        }                      
                    })
            });

            //$("#btnGet").click(()=>{
            //    fetch(`@Url.Content("~/api/customers")/${$("#CustomerID").val()}`)
            //        .then(response => {
            //            if (response.ok)
            //                return response.json();
            //            else {
            //                throw response.statusText;
            //            }
            //        })
            //        .then(item => {
            //            console.log(item)
            //            $("#CompanyName").val(item.companyName);
            //            $("#Country").val(item.country);
            //        })
            //        .catch(error => {
            //            $("#result").text(error);
            //            $("#CompanyName").val("");
            //            $("#Country").val("");
            //            $("#CustomerID").select();
            //        });
            //});
        });
    </script>
</body>
</html>
